*{
    padding: 0;
    margin: 0;
}

.MainLogo img{
    width: 80px;
}


/* .mynav:hover{
    color: aqua !important;
} */

.stripe{
    height: 100px ;
    width: 45px ;
    background: transparent;
    position: absolute;
    left: 15%;
    top: -150%;
    animation-timing-function: linear;
    

}


.stripe:hover{
    height: 45px;
    width: 3px;
    background: rgb(3, 2, 56);
    position: absolute;
    left: 50%;
    top: -90%;
    transition-timing-function: ease;
    z-index: 10000000;
    animation-timing-function: linear;

}



.mynav{
    position: relative;
}

.mynav:hover > .stripe {
    top: -200%;
}

.a{
    /* height: 45px;
    width: 3px;
    border: 1px solid black;
    background: rgb(3, 2, 56);
    position: absolute;
    left: 50%;
    top: -180%; */
}

.a:hover{
    /* height: 45px;
    width: 3px;
    background: rgb(3, 2, 56);
    position: absolute;
    left: 50%;
    top: -90%; */
} 